.container-txt-cyber {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap;
    flex-direction: column; */
  }

  .word-container-cyber {
    display: flex; 
    justify-content: flex-start;
    width: 15px;
  }



@media screen and (max-width: 768px) {
.container-txt-cyber {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    flex-direction: column;
    /* margin-left: 100px; */
    
  }

  .word-container-cyber {
    display: flex; 
    justify-content: flex-start;
    width: 15px;
    padding-right: 280px;
  }

}


.portrait-frame {
    border: 4px solid hsl(var(--primary)); /* White border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Glowing effect */
    max-width: 100%; /* Ensure the image scales down responsively */
    height: 500px; /* Maintain aspect ratio */
}

.cyber-hero{
    font-size: 19px;
}

.cyber-subheading {
    margin-top: 20px; 
    font-size: 19px;
}

@media screen and (max-width: 768px) {
    .portrait-frame {
        border: 4px solid hsl(var(--primary)); /* White border */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Glowing effect */
        max-width: 100%; /* Ensure the image scales down responsively */
        height: 300px; /* Maintain aspect ratio */
    }
    .cyber-hero {
        font-size: 15px;
    }
    
    .cyber-subheading {
        font-size: 15px;
        margin-top: 10px;
    }
   
}

.cyb-linx:hover {
    color: hsl(var(--primary));
}

.youtube-button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000; /* Red color similar to YouTube play button */
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
}

.youtube-button-link:hover {
    background-color: #cc0000; /* Darker red color on hover */
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-image: url('https://www.gstatic.com/youtube/img/branding/youtubelogo/svg/youtubelogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button-text {
    margin-left: 10px;
}