* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .blob-effect {
        height: 360px; 
        margin-left: 0px;
    }
}

@media screen and (max-width: 576px) {
    .blob-effect {
        height: 240px; 
        margin-bottom:30px;
    }
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .company-icons li {
        margin: 10px 20px; 
    }

    .company-icons li a {
        width: 50px; 
        height: 50px; 
    }

    .company-icons li a i {
        font-size: 24px; 
    }
}

@media screen and (max-width: 768px) {
    .hiding,
    .hiding2 {
        transition: none!important; ;
    }
}

.resume-btn{
    width: 100%;
}



