:root {
    --eggshell: #FFFAF9;
    --purple:#6610f2;
    --blue: #3c31dd;
    --red:#dd3f31;
    --pink:#dd31d1;
    --orange:#DD7D31;
    --shape-fill-light: #FFFFFF;
    --shape-fill-dark: #020817;
    --black:#000000;
 }
.egg{
    color: var(--eggshell);
}
.purp{
    color: var(--purple);
}

.blu{
    color: var(--blue);

}

.blue-bkrnd{
    background: rgb(49,211,221);
    background: linear-gradient(184deg, rgba(49,211,221,1) 0%, rgba(60,49,221,1) 35%, rgba(60,49,221,1) 100%);
    
}

.red-bkgrnd{
    background-color: var(--red);
}

.orange-bkgrnd {
    background: rgb(60, 49, 221);
    background: linear-gradient(174deg, rgba(60, 49, 221, 1) 0%, rgba(221, 125, 49, 1) 35%, rgba(221, 125, 49, 1) 100%);
}

body {
background-color: var(--eggshell);
background-size: cover;
margin: 0;
padding: 0;
font-family: Outfit, sans-serif;
overflow-x: hidden
}



.prof-img {
   justify-content: flex-end;
   /* margin: 300px; */
   
}

.hiding {
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 2s;
}



.hiding2 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
 }

.hiding-portfolios {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.visible {
   opacity: 1;
   filter:blur(0);
   transform: translateX(0);
}
/* spacing section */
.flex-container {
    display: flex;
    
  }
  
  .hero-left {
    flex: 1;
    
  }
  
  .hero-right {
    flex: 1;
   
  }

  .icons-left {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .icons-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

.techlogo {
    height: 145px;
    width: 145px;
    margin: 30px;
}
  

.blob-effect {
   
    height: 380px;
    background-size: cover;
    background-position: center center;
    margin: 100px;
    
    box-shadow: 5px 5px 5px 5px rgba(13, 110, 253, 0.3);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;

}

@keyframes animate {
    0%, 100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 50% 60% 70% 40% / 50% 60% 40% 30%;
    }
}

.icons {
    display: flex;
    width: 100%; /* Example width */
     /* Example max-width */
    margin: 0 auto; /* Center the container horizontally */
    
}


.icon:nth-child(2) {
    transition-delay: 200ms;
}

.icon:nth-child(3) {
    transition-delay: 400ms;
}     

.icon:nth-child(4) {
    transition-delay: 600ms;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bkg-container {
    display: flex;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    
  }

    .hero-text {
        font-size: 2rem;
        margin-top: 100px;
    }

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90vh;
   
}
.icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 102vh;
   
}

.waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves svg {
    position: relative;
    display: block;
    width: calc(224% + 1.3px);
    height: 200px;
}

.waves .shape-fill {
    fill: #FFFFFF;
}

.dark-theme .waves .shape-fill {
    fill: var(--shape-fill-dark); /* Override fill color for dark mode */
  } 

  .system-theme .waves .shape-fill {
    fill: var(--shape-fill-dark); /* Override fill color for dark mode */
  } 
  
.waves-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves-blue svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 157px;
    transform: rotateY(180deg);
}

.waves-blue .shape-fill {
    fill: #3C31DD;
}

.layowave {
    aspect-ratio: 3/2;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/images/layo.svg');
}

.dark-theme .layowave {
    aspect-ratio: 3/2;
    width: 100%;
    height: 33px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/images/darklayo.svg');
}

.other-projects{
    display: flex;
    flex-wrap: wrap;
}

.feature-card{
    width:45vw;
    align-items: center;
}