* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --eggshell: #FFFAF9;
    --purple: #6610f2;
    --blue: #3c31dd;
    --red: #dd3f31;
    --pink: #dd31d1;
    --orange: #DD7D31;
    --shape-fill-light: #FFFFFF;
    --shape-fill-dark: #020817;
    --black: #000000;
}

.egg {
    color: var(--eggshell);
}

.purp {
    color: var(--purple);
}

.blu {
    color: var(--blue);

}



body {

    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
    overflow-x: hidden
}





.hiding {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}



.hiding2 {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}

.hiding-portfolios {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}



.visible {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logos {
    display: flex;

}

.logo:nth-child(2) {
    transition-delay: 200ms;
}

.logo:nth-child(3) {
    transition-delay: 400ms;
}

.logo:nth-child(4) {
    transition-delay: 600ms;
}

.blob-effect {
    height: 480px;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 5px 5px rgba(37, 99, 235, 1);
    animation: animate 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.green .blob-effect {
    height: 480px;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 5px 5px rgba(34, 197, 94, 1);
    animation: animate 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.red .blob-effect {
    height: 480px;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 5px 5px rgba(225, 29, 72, 1);
    animation: animate 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.orange .blob-effect {
    height: 480px;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 5px 5px rgba(249, 115, 22, 1);
    animation: animate 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.light-green .blob-effect {
    height: 480px;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 5px 5px rgba(34, 197, 94, 1);
    animation: animate 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.light-red .blob-effect {
    height: 480px;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 5px 5px rgba(225, 29, 72, 1);
    animation: animate 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

.light-orange .blob-effect {
    height: 480px;
    background-size: cover;
    background-position: center center;
    box-shadow: 5px 5px 5px 5px rgba(249, 115, 22, 1);
    animation: animate 6s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 50% 60% 70% 40% / 50% 60% 40% 30%;
    }
}

#about {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}







.small-avatar {
    width: 16px;
    height: 16px;
}
/* 
221.2 83.2% 53.3%   blue

346.8 77.2% 49.8%  red

142.1 70.6% 45.3% green

24.6 95% 53.1% orange */

/* #2563eb blue   
#e11d48 red
#22c55e green
#f97316 orange

*/

/* 
rgba(37, 99, 235, 1) blue
rgba(225, 29, 72, 1) red
rgba(34, 197, 94, 1) green
rgba(249, 115, 22, 1) orange
 */

